* {
    box-sizing: border-box; /* Appliquez le modèle de boîte à tous les éléments */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #FCE8F8;;
}

.d1 {
    text-align: center;
    width: 500px;
    padding: 20px;
    border: 1px solid #3a1338;
    border-radius: 75px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #FCE8F8;
    overflow: auto; /* Ajoutez un défilement automatique si le contenu dépasse */
}

.d1 h1 {
    color: #0f0d0d;
    font-size: 24px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    color: #0f0d0d;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

/* Cette classe .form semble ne pas être utilisée dans le HTML fourni */
.form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #FCE8F8;
}

.formulaire {
    width: 100%; 
}

input[type="text"],
input[type="submit"],
textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #722850;
    border-radius: 8px;
}


textarea.libelle {
    min-height: 120px; 
    resize: vertical; 
}

input[type="submit"] {
    background-color: #3a1338;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    border: none;
    padding: 10px 20px; 
    border-radius: 15px;
    font-weight: bold;
    font-size: 20px;
    width: auto; 
}

input[type="submit"]:hover {
    background-color: #dec4ff;
}

.error-message {
    color: #d34838;
    margin-bottom: 10px;
}
