* {
    box-sizing: border-box; /* Appliquez le modèle de boîte à tous les éléments */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-size: 100% 100%;
    background-color: #FCE8F8;
    background-image: url(../images/fonds.jpg) ;
    background-repeat: no-repeat; 
    background-position: center;
}

.d1 {
    text-align: center;
    width: 500px;
    padding: 20px;
    border: 1px solid #3a1338;
    border-radius: 75px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #FCE8F8;
    overflow: auto; /* Ajoutez un défilement automatique si le contenu dépasse */
}

.d1 h1 {
    color: #0f0d0d;
    font-size: 24px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    color: #0f0d0d;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

/* Cette classe .form semble ne pas être utilisée dans le HTML fourni */
.form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #FCE8F8;
}

.formulaire {
    width: 100%; 
}

input[type="text"],
input[type="submit"],
textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #722850;
    border-radius: 8px;
}


textarea.libelle {
    min-height: 120px; 
    resize: vertical; 
}

input[type="submit"] {
    background-color: #3a1338;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    border: none;
    padding: 10px 20px; 
    border-radius: 15px;
    font-weight: bold;
    font-size: 20px;
    width: auto; 
}

input[type="submit"]:hover {
    background-color: #dec4ff;
}

.error-message {
    color: #d34838;
    margin-bottom: 10px;
}

/* Style pour le conteneur principal */
.detail-container {
    height: 500px;
    width: 550px;
    margin: 0 auto; /* Centre le contenu horizontalement */
    padding: 20px; /* Ajoute un espacement intérieur */
    background-color: #f9f9f9; /* Couleur de fond */
    border-radius: 30px; /* Coins arrondis */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
    font-size: 23px;
}

/* Style pour le titre */
.detail-container h1 {
    margin-top: 0; /* Supprime la marge supérieure par défaut */
    color: #3a1338; /* Couleur du texte */
}

/* Style pour les éléments de la liste */
.detail-container ul {
    list-style-type: none;
    padding: 0;
}

/* Style pour chaque élément de la liste */
.detail-container li {
    margin-bottom: 5px;
    color: #3a1338;
}

/* Style pour les éléments forts */
.detail-container strong {
    color: #3a1338; 
}




/* Style pour le conteneur div */
.checkbox-container {
    display: flex; /* Utilisation de Flexbox pour le positionnement */
    flex-wrap: wrap; /* Permettre le retour à la ligne des éléments */
}

/* Style pour chaque paire case à cocher - étiquette */
.checkbox-container input[type="checkbox"] + label {
    margin-right: 10px; /* Espacement horizontal entre les paires */
}

/* Style pour les cases à cocher */
.checkbox-container input[type="checkbox"] {
    margin-bottom: 5px; /* Espacement vertical entre les paires */
}
